/* estilos-multimedia.css */
body {
  text-align: center;
  font-family: "Roboto";
  color: black;
  font-size: "25px";
  background-image: url("../media/fondo_inicio.jpg");

}

header {
  width: 100%;
  background: #7790db;
}

header ul {
  list-style: none;
  padding: 20px 10px;
  height: 30px;
}

header li {
  display: inline-block;
}

header li a {
  font-size: 25px;
  display: inline;
  padding: 10px 20px;
  transition: all 0.2s;
  color: darkblue;
  text-decoration: none;
}

li:hover {
  background: powderblue;
  border-radius: 15px;
}

.multimedia {
  width: 1000px;
  height: auto;
  background-color: powderblue;
  padding: 5px;
  color: darkblue;
  margin: 0 auto;
  border-radius: 10px;
}

.multimedia h1 {
  margin-top: 10;
  font-size: 45px;
}

.multimedia p {
  font-size: 18px;
  margin-bottom: 10;
}
