/* estilos-referencias.css */
body {
  text-align: center;
  font-family: "Roboto";
  color: #ffffff;
  font-size: "25px";
  background-image: url("../media/fondo_inicio.jpg");
  background-position: left top;
  background-size: cover;
}

header {
  width: 100%;
   background: #7790db;
}

header ul {
  list-style: none;
  padding: 20px 10px;
  height: 30px;
}

header li{
  display: inline-block;
}

header li a {
  font-size: 25px;
  display: inline;
  padding: 10px 20px;
  transition: all 0.2s;
  color:darkblue;
  text-decoration: none;
}

li:hover {
  background: powderblue;
  border-radius: 15px;
}

.contenedor {
  display: flex;
  justify-content: space-around;
}

.recuadro {
    width: 250px;
    height: auto;
    background-color: powderblue;
    padding: 5px;
    color: darkblue;
    float: left;
    margin-top: 200px;
    border-radius: 10px;
}

.recuadro h1 {
margin-top: 10;
font-size: 45px;
}
.recuadro h2 {
margin-bottom: 10;
font-size: 45px;
}

img {
  width: 200px;
  height: auto;
}
