body {
  font-family: "Roboto";
  color: black;
  background-image: url("../media/FondoOscuro.jpg");
  background-size: cover;
  text-align: center;
  border:none;
}

header {
  background: rgba(161, 76, 169, 0.7);
  width: 100%;
  margin: 0 auto;
  size: 1vw;
}

header ul {
  list-style: none;
  text-align: center;
  padding: 4vw;
  height: 1.6vw;
}

header li{
  display: inline-block;
}

header li a {
  font-size: 3vw;
  display: inline;
  padding: 2vw;
  transition: all 0.4s;
  color:white;
  text-decoration: none;
}

li:hover {
  background: pink;
  border-radius: 15px;
}


h1 {
  font-size: 9vw;
  color: white;
}

h2 {
  
  color: white;
  font-size: 4vw;
  background-color: rgba(0, 0, 0, 0.5);
  background-size: 20px;
  width: 70%;
  margin: 0 auto;

}

button {
  transition: transform 0.3s ease;
  animation: aparecer 0.5s;
  border: 4px solid #7fb3d5;
  padding: 40px;
  font-size: 32px;
  border-radius: 10px;
  text-align: center;
}

button:hover {
  transform: scale(1.3);
}

button:active {
  animation: pulsarAnimacion 0.9s ease forwards;
}

video {
  transition: transform 0.3s ease;
  animation: aparecer 0.5s;
}

#rondas:hover {
  transform: scale(1.3);
}

#espaciado:hover {
  transform: scale(1.3);
}

@keyframes pulsarAnimacion {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes aparecer {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.logo  {
    position: absolute;  /* Posiciona la imagen en relación al contenedor */
    bottom: 10vh;         /* 5% de la altura de la ventana desde la parte inferior */
    right: 10vw;          /* 5% del ancho de la ventana desde el lado derecho */
    width: 20vw;         /* 10% del ancho de la ventana */
    height: auto;        /* Mantiene la proporción de la imagen */
}
